/* p{
    margin-top: 20px;
    border: solid 3px blueviolet;
    padding: 20px;
}
img{
    border: dashed 3px blueviolet;
    padding: 10px;
} */
/* Instruccion para eliminar margenes */
*{
    margin: 0;
    padding: 0;
}
/* Barra de Menú */
a{
    text-decoration: none;
    color: black;
}
li{
    border: solid 3px gray;
    background-color: lightgray;
    padding: 15px;
    width: 200px;
    margin: 30px;
    text-align: center;
    border-radius: 30px;
    box-shadow: 3px 3px 3px black;
}
p{
    font-weight: bold;
    color: black;
    text-shadow: -3px 3px 3px gray;
    font-size: x-large;
    letter-spacing: 3px;
}
img{
    width: 300px;
}
header{
    background: linear-gradient(gray, lightgray);
    padding: 80px;
}
ul{
    display: flex;
}